/* Universal box-sizing */
* {
  box-sizing: border-box;
}

/* Reset body margins and padding */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Style and center the container */
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

/* Style the audio player */
#audio {
  width: 100%;
}

/* Button styles */
#play-pause-button {
  display: block;
  margin: 20px auto;
  padding: 30px; /* Increased padding */
  font-size: 3rem; /* Increased font size */
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
}

/* Lyrics and current time styles */
#lyrics {
  font-size: 4.5rem; /* Increased font size */
  text-align: center;
  padding: 10px;
}

#current-time {
  font-size: 2em;
  text-align: center;
  padding: 10px;
}

/* Mobile styles */

@media (max-width: 600px) {
  #play-pause-button {
    padding: 40px; /* Increased padding */
    font-size: 3rem; /* Increased font size */
  }

  #lyrics {
    font-size: 5vw; /* Increased font size */
  }
}
